.component {
  padding: 1em;
}
.component-content {
  border: 1px solid rgb(82, 82, 82);
}
.title {
  padding: 1em;
  border-bottom: 1px solid rgb(82, 82, 82);
}
.content {
  padding: 1em;
}
pre {
  margin: 0;
  padding: 0;

  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}
