/* You can add global styles to this file, and also import other style files */
html * {
  font-family: sans-serif !important;
}

html,
body,
input,
textarea,
select,
button {
  color: rgb(188, 198, 208);
  background-color: rgb(36, 36, 36);
}
